<!-- Lisha Naidoo -->
<!-- ST10404816 -->
<!-- Group 1 -->

<!-- References -->
<!-- https://www.w3schools.com/ -->

@{
    // Sets the title of the page, which will be used in the layout's <title> tag.
    ViewData["Title"] = "Successful Claim Page";
}

<!-- Displays the success message for the claim submission -->
<h1 style="font-family: 'Playfair Display', serif; font-size: 40px; color: black;">
    Claim submitted successfully.
</h1>
<!------------------------------------------...ooo000 END OF FILE 000ooo...------------------------------------------------------>
